#content {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 70px;
    border: 1px solid #ccc;
}

#content ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

#content ul .c-pic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* 第一个轮播部分 */

#content ul .c-pic1 {
    background: url("../img/bg1.png") no-repeat center;
}


/* 右边 */

#content .c-pic1 .c-pic-r {
    position: relative;
    float: right;
    width: 620px;
    height: 436px;
    margin: 65px 40px 0 0;
}

#content .c-pic1 .c-pic-r>img {
    width: 100%;
    height: 100%;
}

#content .c-pic1 .c-pic-r .c-pic1-video {
    position: absolute;
    top: 23px;
    left: 95px;
    width: 419px;
    height: 260px;
}

#content .c-pic1 .c-pic-r .c-pic1-video video {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#content .c-pic1 .c-pic-r .c-pic1-video .v-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/play.png') no-repeat center;
    background-size: 20%;
    cursor: pointer;
}

#content .c-pic1 .c-pic-r .c-pic1-video .v-icon:hover {
    background-image: url('../img/play_hover.png');
}


/* 左边 */

#content .c-pic1 .c-pic-l {
    position: absolute;
    bottom: 70px;
    left: 55px;
    width: 300px;
    height: 125px;
}

#content .c-pic1 .c-pic-l img {
    width: 100%;
    height: 100%;
}


/* 第二轮播图 */

#content ul .c-pic2 {
    background: url("../img/bg3.jpg") no-repeat center;
}


/* 左边 */

#content .c-pic2 .c-pic-r {
    float: right;
    margin: 50px 100px 0 0;
    width: 640px;
    height: 444px;
}

#content .c-pic2 .c-pic-r img {
    width: 100%;
    height: 100%;
}


/* 右边 */

#content .c-pic2 .c-pic-l {
    position: absolute;
    bottom: 80px;
    left: 50px;
    width: 310px;
    height: 130px;
}

#content .c-pic2 .c-pic-l p img {
    width: 100%;
}

#content .c-pic2 .c-pic-l .c-pic2-d2 {
    margin-top: 10px;
}

#content .c-pic2 .c-pic-l .c-pic2-d3 {
    margin-top: 10px;
    padding: 10px 0;
    background: #B3CC43;
    border-radius: 5px;
}


/* 第三轮播图 */

#content ul .c-pic3 {
    background: url("../img/bg2.jpg") no-repeat center;
}


/* 左边 */

#content .c-pic3 .c-pic-l {
    float: left;
    margin: 5px 0 0 55px;
    width: 640px;
    height: 493px;
}

#content .c-pic3 .c-pic-l img {
    width: 100%;
    height: 100%;
}


/* 右边 */

#content .c-pic3 .c-pic-r {
    position: absolute;
    bottom: 300px;
    right: 100px;
    width: 310px;
    height: 110px;
}

#content .c-pic3 .c-pic-r img {
    width: 100%;
    height: 100%;
}

#content .c-pic3 .c-pic-r .b2_d2_bg {
    margin: 10px 0;
}

#content .c-pic3 .c-pic-r .b2_d3_bg {
    margin-top: 10px;
    padding: 10px 10px 5px 10px;
    background: #B3CC43;
    border-radius: 5px;
}


/* 三点 */

#content .t-point {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 40px);
    padding: 5px;
}

#content .t-point span {
    float: left;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 5px;
    background: #0D6695;
    cursor: pointer;
    border: 2px solid #0D6695;
}

#content .t-point .on {
    border: 3px solid #A0B931;
}


/* 经典案例部分 */

#classic {
    position: relative;
    width: 100%;
}

#classic .c-title {
    width: 520px;
    height: 140px;
    padding: 20px 0;
    margin: 0 auto;
    background: url('../img/line.png') no-repeat bottom;
    text-align: center;
}

#classic .c-title img {
    margin-top: 30px;
}

#classic .c-title p {
    font-size: 30px;
    margin-top: 30px;
}

#classic .c-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#classic .c-list {
    position: relative;
    width: 1200px;
    height: 610px;
    margin: 0 auto;
    overflow: hidden;
}

#classic .c-list ul {
    position: absolute;
    left: -480px;
    top: 0;
    list-style: none;
    width: 200%;
    transition: left .3s;
}

#classic .c-list ul li {
    float: left;
    width: 240px;
    height: 394px;
    margin-top: 110px;
    transform: scale(.8);
    transition: all 1s;
}

#classic .c-list ul li img {
    width: 100%;
    height: 100%;
}

#classic .c-list ul .big {
    transform: scale(1.2);
}

#classic .c-list ul .mid {
    transform: scale(1);
}

#classic .c-box .btn {
    display: inline-block;
    position: absolute;
    top: calc(50% - 15px);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#classic .c-box .prev {
    left: 40px;
}

#classic .c-box .next {
    right: 40px;
}

#classic .tab {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

#classic .tab span {
    float: left;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 5px;
    border: 3px solid #5190B1;
    background: #5190B1;
}

#classic .tab .on {
    border: 3px solid #A7C132;
}


/* 底部合作伙伴 */

#p-list {
    width: 800px;
    height: 52px;
    padding: 100px 0;
    margin: auto;
}

#p-list p {
    float: left;
    height: 50px;
}

#p-list p+p {
    margin-left: 120px;
}

#p-list p:nth-child(1) {
    width: 218px;
}

#p-list p:nth-child(2) {
    width: 120px;
}

#p-list p:nth-child(3) {
    width: 213px;
}

#p-list p img {
    width: 100%;
    height: 100%;
}